.card {
    min-height: 300px;
    margin: 1em 0.5em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;;
    display: flex;
}

.center {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1em;
}

* {
    user-select: none;
}

.btns {
    display: flex;
    justify-content: center;
}

.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-top: 1em;
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-bottom: 80px solid transparent;
    border-left: 120px solid red;
    z-index: -1;
}

.arrow-right[change=true] {
    border-left: 120px solid green;
}

.hang {
    position: absolute;
}

p.hang {
    padding: 1em;
}
