.card {
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    display: flex;
    min-width: 100vw;
    min-height: 50vh;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .card {
        min-height: 300px;
        min-width: 800px;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        font-size: 0.6rem;
    }
}


.center {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1em;
    touch-action: manipulation;
}

* {
    user-select: none;
}

/* The ::selection pseudo-element currently isn't in any CSS module on the standard track. It should not be used in production environments. */
/* https://stackoverflow.com/a/20657923 */
.main * {
    user-select: text;
}

.btns {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .btns {
        flex-direction: column;
    }

    button {
        margin: 0.3em;
    }
}

.content {
    padding: 2em;
    margin: 0em 2em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.2em;
    align-items: center;
    padding-top: 1em;
}

.arrow-right {
    transition: border-left 0.15s;
    width: 0px;
    height: 0px;
    border-bottom: 80px solid transparent;
    border-left: 120px solid #e76f51;
    z-index: -1;
}

.arrow-right[change=true] {
    border-left: 120px solid #2a9d8f;
}

.hang {
    position: absolute;
}

p.hang {
    padding: 1em;
}

button, a {
    font-size: 1.2em;
}

.emoji {
    margin-left: 0.2em;
    font-size: 1.0em;
}