<div *ngIf="!loaded" class="card">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="loaded && current == null" class="card">
    <div class="center">
        <h2>完了</h2>
        <button (click)="more()" mat-raised-button color="primary">20 MORE</button>
    </div>
</div>

<div *ngIf="loaded && current != null" class="card">
    <p class="hang" style="color: white">
        <b>
            {{ front ? "FRONT" : "BACK" }}
        </b>
    </p>
    <div [attr.change]="!front" class="hang arrow-right"></div>

    <div *ngIf="front" class="content">
        <div class="main">
            <h1>{{current.onyomi}}</h1>
            <p>{{current.imi}}</p>
        </div>
        <div class="btns">
            <button (click)="reveal()" mat-stroked-button color="primary">あらわす</button>
        </div>
    </div>

    <div *ngIf="!front" class="content">
        <div class="main">
            <h1>{{current.kanji}}</h1>
        </div>
        <div class="btns">
            <button (click)="response(0)" mat-flat-button color="warn">(0)</button>
            <button (click)="response(1)" mat-flat-button color="warn">(1)</button>
            <button (click)="response(2)" mat-flat-button color="warn">(2)</button>
            <button (click)="response(3)" mat-flat-button color="accent">(3)</button>
            <button (click)="response(4)" mat-flat-button color="accent">(4)</button>
            <button (click)="response(5)" mat-flat-button color="primary">(5)</button>
        </div>
    </div>
</div>