<!-- <mat-tab-group>
  <mat-tab label="Card">
    <app-card></app-card>
  </mat-tab>
  <mat-tab label="Setting">
    <app-setting></app-setting>
  </mat-tab>
</mat-tab-group> -->

<div class="app">
  <mat-slide-toggle [checked]="theme=='dark'" (change)="toogleTheme()" style="position: absolute; left: 0; top: 0; margin: 0.7em 1.4em; font-size: 2em;"></mat-slide-toggle>
  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" class="tabs">
    <mat-tab label="カード"></mat-tab>
    <mat-tab label="リスト"></mat-tab>
  </mat-tab-group>

  <app-card *ngIf="selectedIndex == 0">

  </app-card>
  <app-list *ngIf="selectedIndex == 1">

  </app-list>
</div>